.prism.log
.vscode
_dev

__pycache__
.mypy_cache

dist

.venv
.idea
build
*.egg-info

.env
.envrc
codegen.log
Brewfile.lock.json
.*
venv
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
trieve
